@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #f6f8fa;
  }
}

@layer components {
  ._inter {
    font-family: "Inter", sans-serif;
  }

  ._monts {
    font-family: "Montserrat", sans-serif;
  }

  ._federo {
    font-family: "Federo", sans-serif;
  }

  ._oswald {
    font-family: 'Oswald', sans-serif;
  }

  ._snap {
    height: 100vh; /* Set the height of the container */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable mandatory snap scrolling on the vertical axis */
  }

  ._assist {
    scroll-snap-align: center;
  }

  .redAir {
    background: rgb(138,8,8);
    background: -moz-linear-gradient(11deg, rgba(138,8,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    background: -webkit-linear-gradient(11deg, rgba(138,8,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    background: linear-gradient(11deg, rgba(138,8,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a0808",endColorstr="#211d1d",GradientType=1); 
  }

  .greenAir {
    background: rgb(42,138,8);
    background: -moz-linear-gradient(11deg, rgba(42,138,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    background: -webkit-linear-gradient(11deg, rgba(42,138,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    background: linear-gradient(11deg, rgba(42,138,8,0.556442645417542) 0%, rgba(33,29,29,0) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a8a08",endColorstr="#211d1d",GradientType=1); 
  }

  input,
  textarea {
    border: none;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0);
  }
}
